﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        @*<div class="title">
            <strong>@T("Homepage.Products")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>*@
    </div>
}